# .project, .pydevproject and .settings are specific to eclipse
/.project
/.pydevproject
/.settings/
*.pyc
*~
*.err
*.out
*.png
*.dat
*.gdf
log
.idea*

# No nest source, build, install or log
nest/dist/source/
nest/dist/build/
nest/dist/install/
nest/dist/log/

# No module build or log
nest/module/install
nest/module/build*
nest/module/bootstrap*
nest/module/log

# No envirnment variables in repository
.env

# No results in repo
results

# Temp-data

python/.spyproject/
python/scripts_mohammad/temp-data/

# Jovana stuff
jovana
